@model IEnumerable<Online_Appointment_System.Models.Service>

@{
    ViewData["Title"] = "Manage Services";
}

<h2 class="mb-3">Manage Services</h2>

<a asp-controller="Admin"
   asp-action="AddService"
   class="btn btn-primary mb-3">
    + Add New Service
</a>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<table class="table table-bordered table-striped">

    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th width="200">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ServiceName</td>
                <td>@service.Description</td>

                <td>
                    <a asp-controller="Admin"
                       asp-action="EditService"
                       asp-route-id="@service.ServiceId"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a asp-controller="Admin"
                       asp-action="DeleteService"
                       asp-route-id="@service.ServiceId"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure?')">
                        Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>
