@model System.Data.DataTable

<h2>Service List</h2>

<a class="btn btn-primary mb-3" href="/Service/Create">Add New Service</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ServiceId</th>
            <th>Service Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["ServiceId"]</td>
                <td>@row["ServiceName"]</td>
                <td>@row["Description"]</td>
                <td>₹ @row["Price"]</td>
                <td>
                    @(Convert.ToInt32(row["Status"]) == 1 ? "Active" : "Inactive")
                </td>
                <td>
                    <a href="/Service/Edit?id=@row["ServiceId"]" class="btn btn-warning btn-sm">Edit</a>

                    <a href="/Service/ToggleStatus?id=@row["ServiceId"]" class="btn btn-info btn-sm">
                        @(Convert.ToInt32(row["Status"]) == 1 ? "Deactivate" : "Activate")
                    </a>

                    <a href="/Service/Delete?id=@row["ServiceId"]" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
